{% extends 'base.html' %}
{% block body %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form name="evalform" method="post" id="evalForm" action="/eval">
            <div class="card m-3">
                <div class="card-body">

                </div>
            </div>

            <div class="card m-3">
                <div class="card-body">
                    <div class="form-group label-floating is-empty">
                        <label for="likes" class=" control-label">What You Like?</label>

                        <textarea name="likes" class="form-control" rows="3" id="likes"></textarea>
                        <span class="help-block">What do you like about this director?</span>

                        <span class="material-input"></span><span class="material-input"></span>
                    </div>
                </div>
            </div>

            <div class="card m-3">
                <div class="card-body">
                    <div class="form-group label-floating is-empty">
                        <label for="dislikes" class=" control-label">What You Dislike?</label>

                        <textarea name="dislikes" class="form-control" rows="3" id="dislikes"></textarea>
                        <span class="help-block">What do you dislike about this director?</span>

                        <span class="material-input"></span><span class="material-input"></span>
                    </div>
                </div>
            </div>

            <div class="card m-3">
                <div class="card-body">
                    <div class="form-group label-floating is-empty">
                        <label for="comments" class=" control-label">Any Comments?</label>

                        <textarea name="comments" class="form-control" rows="3" id="dislikes"></textarea>
                        <span class="help-block">Any other comments for this director?</span>

                        <span class="material-input"></span><span class="material-input"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

